[Unit]
Description=GPIO process service
After=wall-gateway.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/wall-controller/gpio/
ExecStart=/home/ubuntu/service/wall-gpio.sh
 
[Install]
WantedBy=default.target
