[Unit]
Description=GPIO process service

[Service]
User=root
WorkingDirectory=/home/ubuntu/wall-controller/service/
ExecStart=/home/ubuntu/wall-controller/service/wall-gpio.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5
 
[Install]
WantedBy=default.target