[Unit]
Description=GATEWAY process service

[Service]
User=root
WorkingDirectory=/home/ubuntu/wall-controller/
ExecStart=/home/ubuntu/service/wall-gateway.sh

[Install]
WantedBy=default.target
